@page
@model Cake.Pages.OrderSuccessModel
@{
	ViewData["title"] = "OrderSuccess";
}

<ol id="orderProcess">
	    </li>
		<span class="step-number">1</span>Choose Item
		</li>
		<li class="current">
		<span class="step-number" >2</span>Details and submit
		</li>
		<li>
		<span class="step-number">3</span>Recipt
	    </li>

</ol>
<h1>order confirmed</h1>
<div class="border-success">
	<h2>thank u for your order</h2>
	<p>we are processing your order and have set email conformation
		<br>
		thanks for your time!.	

	</p>
</div>